# Dependencies
node_modules/


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Others
.claude/
CLAUDE.md
AGENTS.md
GEMINI.md
.cursor/
.windsurf/
.github/
.kiro/
.trae/
.clinerules/
.roo/
.continue/